/* Importar todos tus CSS existentes */
@import './css/auth.css';
@import './css/auth_modal.css';
@import './css/diagnostico/camara.css';
@import './css/diagnostico/diagnostic_grafica.css';
@import './css/diagnostico/manejo_archivos.css';
@import './css/diagnostico/nivel_riesgo.css';
@import './css/historial/filtro_busqueda_id_cedula.css';
@import './css/historial/filtro_mostrar.css';
@import './css/historial/tabla.css';
@import './css/historial/total_diagnostics.css';
@import './css/inicio/body.css';
@import './css/inicio/footer.css';
@import './css/resultados/estadisticas.css';
@import './css/resultados/header.css';
@import './css/resultados/user_info.css';
@import './css/styles/dashboard.css';
@import './css/styles/global.css';
@import './css/styles/logout.css';
@import './css/landing_page/landing.css';
@import './css/landing_page/landing-responsive.css';
@import './css/landing_page/contacto.css';
@import './css/landing_page/estadisticas.css';

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  min-height: 100vh;
}